.textSign{
    cursor: pointer;
}

.teSign{
    margin: 10px 0 0;
    font-size: 18px;
    color: blue;
    cursor: pointer;
}
.ahgda{
    margin: 7px 0 0;
    font-size: 15px;
    color: blue;
    cursor: pointer;
}